# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
venv/
ENV/
env.bak/
env/

# Pytest cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Docker
*.log
docker-compose.override.yml
